.container{
  padding : 0;
}

.container-fluid {
  
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
  
}

.BgForm {
  background-image: url(./components/Media/bibliotheque.jpg); 
}

/* formulaire */

.formAdd h1{
  color : rgb(255, 255, 255);
  margin-top : 25px;
  margin-bottom : 25px;
  text-shadow: black 6px 2px;;
 
}

.formAdd .row{
  margin-bottom : 25px;

}

.formAdd .row input, .formAdd .row textarea, .formAdd .row select{
  border : 2px solid brown;
}

.formAdd .row .file{
  padding-bottom: 37px;
}

.formAdd .row button{
  color : black;
  background-color : brown;
  font-weight: bold;
}

.formAdd .row button:hover{
  color : white;
}

.formAdd .row:first-child{
  margin-top : 25px;
}

.formAdd{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom : 42px;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
  border-radius : 5px;
  border : 2px solid brown;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners{
  border-radius : 5px;
  border : 2px solid brown;
}

.ck.ck-editor{
  margin : 4px;
  width : 100%
}


 /* formulaire  */

.logo{
width: 150px;
}

/* Modifications du Label Titre */
label {
  color: rgb(0, 0, 0);
  background-color: white;
}
/* Modifications du Label Titre */

.row {
  width: 100%;
  text-align: center;
margin-bottom: 10px;
display: block;
width: 650px ;
}





img{
  width: 100%;  
}

.contenu {
  display: flex;
  justify-content: space-around;
  background-color: rgb(124, 12, 36);
  padding-top: 10px;
  padding-bottom: 10px;
}


html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  background-color: rgb(0, 0, 0);
}

.CarrouselMenu2 h1, .CarrouselMenu1 h1 {
  font-family: Arial;
  color: red;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3,100%);
  overflow:hidden;
  scroll-behavior: smooth;}

  section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;}
    
    .item {
      padding: 0 2px;
      transition:250ms all;}
      
      .item:hover { 
        margin: 0 40px;
        transform: scale(1.2);
      }
      
    
    .CarrouselMenu2 a {
      position: absolute;
      color: #fff;
      text-decoration: none;
      font-size: 6em;
      
      width: 80px;
      padding: 20px;
      text-align: center;
      z-index: 1;
    }
      
    a:nth-of-type(1) {
      top:0; bottom:0; left:0;
    
    }
    a:nth-of-type(2) {
      top:0; bottom:0; right: 0;
     
    }

@media only screen and (max-width: 600px) {
  a.arrow__btn {
    display:none;
  }
}

.CarrouselMenu1{
width: 100%;
/* background-image:url(components/Media/pageDeLivre.jpg); */
background-size: cover;
}

.carousel{
  width: 100%;
  height: 400px;
}

.carousel{
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;  
}

.menu{
  background-color : brown;
}

:any-link {
  color: rgb(107, 27, 58);
  font-weight: bold;
  margin-left: 0px;
  font-size: x-large;
 
}

.mdl-navigation__link {
  margin-left: 50px;
}

/* Footer */

.footer {
  background-color:brown;
  letter-spacing: 3px;
  position: relative;  
  height: 140px;
}
.footer img {
  width: 42px;
  height: 42px;
  margin-left:10px;
  margin-bottom: 5px;
}

footer p{
  margin : 0;
  padding : 0;
}


ol i  {
  margin-right: 15px;
  font-size: x-large;
}

footer {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  width: 100%;
  display: flex;
  align-items: center;
 align-items: flex-end ;
 justify-content: space-between ;
}

/* Footer  */


.reseaux h1 , .reseaux h2 {
  font-size: 20px;
}

/* Connection Admin  */
.ConnectionAdmin {
  background-image: url("./components/Media/lockImage.jpg"); 
  background-size: cover;
  background-position: center;
  height: 536px;
}

.form {
margin-right: 500px;
margin-left:500px ;
padding-bottom: 300px;
padding-top: 150px;
text-align: center;
}

/* Connection Admin  */