.formulaire{
  /* background-color: rgb(124, 12, 36); */
  margin-bottom:10px ;
 padding-left: 15px;
  text-align: center;
}
 

.logo{
width: 150px;
}

/* Modifications du Label Titre */
label {
  color: rgb(96, 95, 102);
  background-color: white;
}

.row {
  width: 100%;
  text-align: center;
margin-bottom: 10px;
display: block;
width: 650px ;
}



.contenu {
  background-image: url(./components/Media/bibliotheque.jpg); 
  background-size: cover;
  background-position: center;
}


.contenu {
  display: flex;
  justify-content: space-around;
  background-color: rgb(124, 12, 36);
  padding-top: 10px;
  padding-bottom: 10px;
}

